<div fxLayoutAlign="center center" fxLayout="column">
  <h1><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" height="17px" width="30px" align = "center"/> Presidential Tweet Classifier <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" height="17px" width="30px" align = "center"/> </h1>
  <div id="image" style="display:inline;">
    <img src="https://i.imgur.com/t2RyFr7.png" height="158px" width="250px" align = "center"/>
  </div>
  <p class="description">Introducing Trump or Staff, a website that uses machine learning to predict if tweets are written by President Trump or his Staff <br> <br> Below are examples of how we label tweets:</p>
  <div id="image" style="display:inline;">
    <img src="https://i.imgur.com/zNhVF2h.png" height="220px" width="655px" align = "center"/>
  </div>

  <div class="home__training">
    <!--
    <h3> Our Classification Model: Adaboost!</h3>

    <div *ngIf="svcResult"
    fxLayoutAlign="center center"
    fxLayout="column">
    <h4>Training Accuracy:</h4>
    <ngx-charts-linear-gauge
    [view]="[300, 100]"
    [value]="svcResult.accuracy"
    [scheme]="colorScheme"
    [min]="0"
    [max]="100"
    [units]="'% accuracy'">
  </ngx-charts-linear-gauge>
</div>
-->
</div>

<div class = "tweetOutput">


  <div *ngIf="svcResult">

    <h1>Recent Tweets: </h1>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetOneUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetOnePred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetOne}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetTwoUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetTwoPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetTwo}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetThreeUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetThreePred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetThree}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetFourUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetFourPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetFour}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetFiveUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetFivePred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetFive}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetSixUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetSixPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetSix}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetSevenUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetSevenPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetSeven}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetEightUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetEightPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetEight}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetNineUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetNinePred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetNine}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetTenUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   {{svcResult.tweetTenPred}}   </b>
              @realDonaldTrump
              <p> "{{svcResult.tweetTen}}" </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <br>

</div>

<div class="home__prediction">
  <a href="https://imgflip.com/i/2roqbi"><img src="https://i.imgflip.com/2roqbi.jpg" class="meme" title="Predict Your Own Tweet" height="50%" width="50%" align ="center"/></a>

  <md-card class="twitter-card" fxLayoutAlign="center center" fxLayout="column">
    <h4>Predict any tweet from President Trump</h4>

    <md-input-container>
      <input mdInput
      name="Trump Tweet"
      width="600px"
      placeholder="Paste a tweet"
      [(ngModel)]="tweet.text">
    </md-input-container>

    <div>
      <button md-raised-button (click)="predictIris()">Predict tweet</button>
    </div>
  </md-card>

  <div *ngIf="probabilityPredictions" fxLayoutAlign="center center" fxLayout="column" class="home__chart-container">
    <h4>Prediction Result</h4>
    <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="probabilityPredictions"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="test"
    [yAxisLabel]="test">
  </ngx-charts-bar-vertical>
</div>
</div>
</div>
