$chart-min-height: 300px;
$chart-width: 600px;
.home__chart-container {
    min-height: $chart-min-height;
    width: $chart-width;
    max-width: 100%;
}

.example-card {
  width: 600px;
  margin: auto;
}

.twitter-card {
  width: 600px;
  margin: auto;
}

.title{
  font-size: 2em;
}

.recents{
  font-size: 2em;
}

.description{
  max-width: 600px;
  text-align: left;
  font-size: 1.2em;
}

.column {
  float: left;
}

.left {
  width: 7%;
}

.right {
  width: 85%;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pro-pic {
  border-radius: 50%;
}

.meme{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-house{
  height: 158px;
  width: 250px;
}

.examples{
  height:220px;
  width: 655px;
}

.prediction{
  margin-bottom: 10px
}

md-card {
  padding: 15px;
}

md-input-container {
  width: 550px;
}

@media(max-width: 767px) {
  md-input-container {
    width: 300px;
  }
  .example-card {
    width: 350px;
    margin: auto;
  }
  .twitter-card {
    width: 350px;
    margin: auto;
  }
  .title{
    font-size: 1.2em;
  }
  .description{
    font-size: 1em;
    width: 350px;
  }
  .left {
    width: 15%;
  }
  .right {
    width: 75%;
    padding-left: 20px;
  }
  .recents{
    font-size: 1.2em;
    width: 350px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}
