$chart-min-height: 300px;
$chart-width: 600px;
.home__chart-container {
    min-height: $chart-min-height;
    width: $chart-width;
    max-width: 100%;
}

.scroll{
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.maga{
  width: 600px;
}

.title{
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  color: #0084D4;
  font-family: "Arial Black", "Gadget", "sans-serif";
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle{
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
  color: #616263;
  font-family: "Arial Black", "Gadget", "sans-serif";
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", "Arial", "sans-serif";
  letter-spacing: .5px;
}

.fadein {
  position: relative;
  margin: auto;
}

.fadein img {
  position:absolute;
}

.bottom{
  width: 600px;
}

.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
  width: 600px;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.predict{
  height: 160px;
  width: 600px;
}

.example-card {
  width: 700px;
  margin: auto;
}


.twitter-card {
  width: 600px;
  margin: auto;
}

.custom-card {
  width: 600px;
  margin: auto;
}

.recents{
  font-size: 2em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.description{
  width: 600px;
  text-align: left;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.column {
  float: left;
}

.left {
  width: 7%;
}

.right {
  width: 85%;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pro-pic {
  border-radius: 50%;
}

.meme{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-house{
  height: 158px;
  width: 250px;
}

.instructions{
  height: 160px;
  width: 600px;
}

.prediction{
  margin-bottom: 10px
}

.text{
  margin-top: 4px;
  margin-bottom: 8px;
  color: black;
}

md-card {
  padding: 15px;
}

md-input-container {
  width: 550px;
}

textarea{
  margin-bottom: 5px;
}

body, html { overflow-x:hidden; }

@media(max-width: 600px) {
  md-input-container {
    width: 80vw;
  }
  .example-card {
    width: 95vw;
    margin: auto;
  }
  .twitter-card {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 0px;
  }
  .custom-card {
    width: 90vw;
    margin: 0 auto;
  }
  .maga{
    width: 100%
  }
  .title{
    font-size: 6vw;
    width: 100%;
  }
  .subtitle{
    font-size: 6vw;
    width: 100%;
  }
  .description{
    font-size: 1em;
    width: 95vw;
    text-align: center;
  }
  .left {
    width: 40px;
  }
  .right {
    width: calc(100vw - 100px);
    padding-left: 20px;
  }
  .recents{
    font-size: 1.2em;
    width: 95vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .flag{
    height: 10px;
    width: 15px;
  }
  .instructions{
    width: 98%;
    height: auto;
  }
  .main-layout__content.main-layout__content--padding[_ngcontent-c1] {
    padding: 0px;
  }
}
