<div fxLayoutAlign="center center" fxLayout="column">
  <div id="image" style="display:inline;">
    <img src="https://i.imgur.com/t2RyFr7.png" class="white-house" align = "center"/>
  </div>
  <div class="maga">
    <h1 class="title">Presidential Tweet Classifier</h1>
  </div>
  <!--


  <div class="fadein">
    <img src="https://i.imgur.com/ofzsrqC.png" class="bottom" align = "center" />
    <img src="https://i.imgur.com/k8XL2K4.png" class="top" align = "center" />
  </div>
  -->

    <p class="description">Gather tweets from @realDonaldTrump</p>
    <img src="https://i.imgur.com/2Wgwocv.png" class="instructions" align = "center" style="opacity: 0.9;"/>
    <p class="description">And use machine learning to predict if they're written by Trump or Staff</p>
    <img src="https://i.imgur.com/En3vsMr.png" class="instructions" align = "center"/>


  <!--
  <md-card class="example-card" fixLayoutAlign = "center center" fixLayout="column">
    <div class="row">
      <div id="container" style="white-space:wrap">
        <div class="column left">
          <div id="image" style="display:inline;">
            <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg" class="pro-pic" height="50" width="50" align = "center"/>
          </div>
        </div>
        <div class="column right">
          <div id="names">
            <b>   Donald J. Trump   </b>
            @realDonaldTrump
            <p class="text"> Just leaving D.C. Had great meetings with Republicans in the House and Senate. Very interesting day! These are people who love our country! </p>
          </div>
        </div>
      </div>​
    </div>
  </md-card>
    <md-card class="example-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              <b>   White House Staff   </b>
              @realDonaldTrump
              <p class="text"> My son; @EricTrump will be interviewed by @SeanHannity tonight at 10pm on @FoxNews. Enjoy!</p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>
    <br>
  </div>
  -->

  <div class="home__training">
    <!--
    <h3> Our Classification Model: Adaboost!</h3>

    <div *ngIf="svcResult"
    fxLayoutAlign="center center"
    fxLayout="column">
    <h4>Training Accuracy:</h4>
    <ngx-charts-linear-gauge
    [view]="[300, 100]"
    [value]="svcResult.accuracy"
    [scheme]="colorScheme"
    [min]="0"
    [max]="100"
    [units]="'% accuracy'">
  </ngx-charts-linear-gauge>
</div>
-->
</div>

<div class = "tweetOutput">

  <div class="maga">
    <h1 class="subtitle">Recent Tweet Predictions</h1>
  </div>
  <div *ngIf="svcResult">

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetOneUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetOnePred}}   </b>
              <p class="text"> {{svcResult.tweetOne}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetTwoUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetTwoPred}}   </b>
              <p class="text"> {{svcResult.tweetTwo}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetThreeUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetThreePred}}   </b>
              <p class="text"> {{svcResult.tweetThree}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetFourUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetFourPred}}   </b>
              <p class="text"> {{svcResult.tweetFour}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetFiveUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetFivePred}}   </b>
              <p class="text"> {{svcResult.tweetFive}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetSixUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetSixPred}}   </b>
              <p class="text"> {{svcResult.tweetSix}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetSevenUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetSevenPred}}   </b>
              <p class="text"> {{svcResult.tweetSeven}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetEightUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetEightPred}}   </b>
              <p class="text"> {{svcResult.tweetEight}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetNineUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetNinePred}}   </b>
              <p class="text"> {{svcResult.tweetNine}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweetTenUrl}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweetTenPred}}   </b>
              <p class="text"> {{svcResult.tweetTen}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweet11Url}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweet11Pred}}   </b>
              <p class="text"> {{svcResult.tweet11}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweet12Url}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweet12Pred}}   </b>
              <p class="text"> {{svcResult.tweet12}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweet13Url}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweet13Pred}}   </b>
              <p class="text"> {{svcResult.tweet13}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweet14Url}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweet14Pred}}   </b>
              <p class="text"> {{svcResult.tweet14}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">
      <div class="row">
        <div id="container" style="white-space:wrap">
          <div class="column left">
            <div id="image" style="display:inline;">
              <img src="{{svcResult.tweet15Url}}" class="pro-pic" height="50" width="50" align = "center"/>
            </div>
          </div>
          <div class="column right">
            <div id="names">
              Prediction: <b>   {{svcResult.tweet15Pred}}   </b>
              <p class="text"> {{svcResult.tweet15}} </p>
            </div>
          </div>
        </div>​
      </div>
    </md-card>

    <br>

  </div>
</div>

<div class="home__prediction">
  <!--
  <a href="https://imgflip.com/i/2roqbi"><img src="https://i.imgflip.com/2roqbi.jpg" class="meme" title="Predict Your Own Tweet" height="30%" width="30%" align ="center"/></a>
  -->
  <div class="maga">
    <h1 class="subtitle">Predict Custom Tweet</h1>
  </div>
  <md-card class="custom-card" fxLayoutAlign="center center" fxLayout="column">
    <h4 style="text-align: center">Enter any tweet from @realDonaldTrump</h4>

    <md-input-container>
      <textarea mdInput
      name="Trump Tweet"
      width="600px"
      placeholder="Paste a tweet"
      [(ngModel)]="tweet.text"></textarea>
    </md-input-container>

    <div>
      <button md-raised-button (click)="predictIris()">Predict tweet</button>
    </div>
  </md-card>
  <br>

  <div *ngIf="probabilityPredictions" fxLayoutAlign="center center" fxLayout="column">
    <h4 class="prediction">Prediction Result</h4>
    <h1>{{probabilityPredictions.prediction}}</h1>
    <!--
    <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="probabilityPredictions"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="test"
    [yAxisLabel]="test">
  </ngx-charts-bar-vertical>
-->
  </div>
</div>
</div>
