<div fxLayoutAlign="center center" fxLayout="column">
  <h1>Trump or Staff ~Under Development~</h1>
  <h3>Using Machine Learning to determine if tweets are written by President Trump or his Staff</h3>

  <div class="home__training">
    <h3> Our Classification Model: Adaboost!</h3>
    <!--
    <div *ngIf="svcResult"
    fxLayoutAlign="center center"
    fxLayout="column">
    <h4>Training Accuracy:</h4>
    <ngx-charts-linear-gauge
    [view]="[300, 100]"
    [value]="svcResult.accuracy"
    [scheme]="colorScheme"
    [min]="0"
    [max]="100"
    [units]="'% accuracy'">
  </ngx-charts-linear-gauge>
</div>
-->
</div>

<div class = "tweetOutput">


  <div *ngIf="svcResult">

    <h1>Recent Tweets: </h1>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetOneUrl}}" height="50" width="50" align = "center"/>
        </div>

        <div id="names" style="display:inline;">

          <b>   {{svcResult.tweetOnePred}}   </b>
          @realDonaldTrump
        </div>

      </div>​
      <h4> "{{svcResult.tweetOne}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:nowrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetTwoUrl}}" height="50" width="50" align = "center"/>
        </div>

        <div id="names" style="display:inline;">

          <b>    {{svcResult.tweetTwoPred}}   </b>
          @realDonaldTrump
        </div>
        <br>


      </div>​

      <h4> "{{svcResult.tweetTwo}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetThreeUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">

          <b>    {{svcResult.tweetThreePred}}   </b>
          @realDonaldTrump
        </div>

      </div>​
      <h4> "{{svcResult.tweetThree}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetFourUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetFourPred}}   </b>
          @realDonaldTrump
        </div>

      </div>​

      <h4> "{{svcResult.tweetFour}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetFiveUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetFivePred}}   </b>
          @realDonaldTrump
        </div>

        <h4> "{{svcResult.tweetFive}}" </h4>
      </div>​
    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetSixUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetSixPred}}   </b>
          @realDonaldTrump
        </div>

      </div>​

      <h4> "{{svcResult.tweetSix}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetSevenUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetSevenPred}}   </b>
          @realDonaldTrump
        </div>

      </div>​

      <h4> "{{svcResult.tweetSeven}}" </h4>
    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetEightUrl}}" height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetEightPred}}  </b>
          @realDonaldTrump
        </div>

      </div>​

      <h4> "{{svcResult.tweetEight}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetNineUrl}}"height="50" width="50" align="center"/>
        </div>

        <div id="texts" style="display:inline; white-space:wrap;">
          <b>    {{svcResult.tweetNinePred}}  </b>
          @realDonaldTrump
        </div>

      </div>​

      <h4> "{{svcResult.tweetNine}}" </h4>

    </md-card>
    <br>

    <md-card class="twitter-card" fixLayoutAlign = "center center" fixLayout="column">

      <div id="container" style="white-space:wrap">

        <div id="image" style="display:inline;">
          <img src="{{svcResult.tweetTenUrl}}"height="50" width="50" align="center"/>

        </div>

        <div id="texts" style="display:inline; white-space:wrap;">

          <b>    {{svcResult.tweetTenPred}}   </b>
          @realDonaldTrump

        </div>

      </div>​

      <h4> "{{svcResult.tweetTen}}" </h4>

    </md-card>
    <br>
  </div>





</div>

<div class="home__prediction"
fxLayoutAlign="center center"
fxLayout="column">
<h3>Predict your own tweet</h3>

<md-card fxLayoutAlign="center center" fxLayout="column">
  <h4>Input Tweet</h4>
  <div fxLayout="row">
    <md-input-container>
      <input mdInput
      name="Trump Tweet"
      width="600px"
      placeholder="Trump Tweet"
      [(ngModel)]="tweet.text">
    </md-input-container>
  </div>
  <div>
    <button md-raised-button (click)="predictIris()">Predict tweet</button>
  </div>
</md-card>

<div *ngIf="probabilityPredictions"
fxLayoutAlign="center center"
fxLayout="column"
class="home__chart-container">
<h4>Prediction Result</h4>
<ngx-charts-bar-vertical
[scheme]="colorScheme"
[results]="probabilityPredictions"
[gradient]="true"
[xAxis]="true"
[yAxis]="true"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxisLabel]="test"
[yAxisLabel]="test">
</ngx-charts-bar-vertical>
</div>
</div>
</div>
